[submodule "cores/biriscv"]
	path = cores/biriscv
	url = git@github.com:ultraembedded/biriscv.git
[submodule "cores/cv32e40p"]
	path = cores/cv32e40p
	url = git@github.com:openhwgroup/cv32e40p.git
[submodule "cores/nanoprintf"]
	path = cores/nanoprintf
	url = git@github.com:charlesnicholson/nanoprintf.git
[submodule "cores/verilog-axi"]
	path = cores/verilog-axi
	url = git@github.com:alexforencich/verilog-axi.git
[submodule "cores/wb2axip"]
	path = cores/wb2axip
	url = git@github.com:ZipCPU/wb2axip.git
[submodule "cores/verilog-uart"]
	path = cores/verilog-uart
	url = git@github.com:alexforencich/verilog-uart.git
[submodule "cores/coremark"]
	path = cores/coremark
	url = git@github.com:eembc/coremark.git
[submodule "cores/cva5"]
	path = cores/cva5
	url = git@github.com:openhwgroup/cva5.git
[submodule "cores/ibex"]
	path = cores/ibex
	url = git@github.com:lowRISC/ibex.git
[submodule "cores/Cores-VeeR-EL2"]
	path = cores/Cores-VeeR-EL2
	url = git@github.com:chipsalliance/Cores-VeeR-EL2.git
[submodule "cores/riscv-dbg"]
	path = cores/riscv-dbg
	url = git@github.com:pulp-platform/riscv-dbg.git
[submodule "cores/tech_cells_generic"]
	path = cores/tech_cells_generic
	url = https://github.com/pulp-platform/tech_cells_generic.git
[submodule "cores/common_cells"]
	path = cores/common_cells
	url = https://github.com/pulp-platform/common_cells.git
