[submodule "cores/biriscv"]
	path = cores/biriscv
	url = git@github.com:ultraembedded/biriscv.git
[submodule "cores/cv32e40p"]
	path = cores/cv32e40p
	url = git@github.com:openhwgroup/cv32e40p.git
[submodule "cores/nanoprintf"]
	path = cores/nanoprintf
	url = git@github.com:charlesnicholson/nanoprintf.git
[submodule "cores/verilog-axi"]
	path = cores/verilog-axi
	url = git@github.com:alexforencich/verilog-axi.git
[submodule "cores/wb2axip"]
	path = cores/wb2axip
	url = git@github.com:ZipCPU/wb2axip.git
